<!DOCTYPE html>
<html>
<head>
	<title>Predict-O-Matic</title>
</head>
<body style="background-color:rgb(250, 244, 227);">
	<center>
	<h1>Grailed Item Price Estimator</h1>
	<form action="/submit">
		<p>
			<label for="designer">Item Designer</label><br>
			<input type="text" name="designer" style="background-color:rgb(250, 244, 227);">
		</p>
		<p>
			<label for="category">Item Category</label><br>
			<input type="text" name="category" style="background-color:rgb(250, 244, 227);">
		</p>
		<p>
			<label for="size">Item Size</label><br>
			<input type="text" name="size" style="background-color:rgb(250, 244, 227);">
		</p>
		<p>
			<label for="color">Item Color</label><br>
			<input type="text" name="color" style="background-color:rgb(250, 244, 227);">
		</p>
		<p>
			<label for="condition">Item Condition</label><br>
			<input type="number" name="condition" style="background-color:rgb(250, 244, 227);">
		</p>
		<p>
			<label for="image_count">Image Count</label><br>
			<input type="number" name="image_count" style="background-color:rgb(250, 244, 227);">
		</p>
		<p>
			<label for="feedback_count">Feedback Count</label><br>
			<input type="number" name="feedback_count" style="background-color:rgb(250, 244, 227);">
		</p>
		<p><button type="submit" style="background-color:rgb(250, 244, 227);">Submit</button></p>
	</form>
	</center
</body>
</html>
